# ==================================
# Python (Entorno, Caché y Tipos)
# ==================================
venv/
__pycache__/
*.pyc
.python-version
face_cache/

# ==================================
# Artefactos de Build (PyInstaller)
# ==================================
build/
dist/
*.spec

# ==================================
# Artefactos de Build (AppImage)
# ==================================
AppDir/
# Ignora el producto final y las herramientas descargadas
*.AppImage
*.json
*.desktop
*.zip

# ==================================
# Datos de Runtime de VisageVault
# ==================================
# Bases de datos de SQLite
*.db
*.db-journal*
*.db-wal*

# Caché de miniaturas de la aplicación
.visagevault_cache/

# ==================================
# Configuración de IDEs (Común)
# ==================================
.idea/
.vscode/
